/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === Base Styles === */

* {
  box-sizing: border-box;
}

/* === Navigation Bar === */

nav {
  background-color: rgba(0,0,0,0.9);
  padding: 1rem;
}

nav a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  text-align: center;
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
}

nav a:hover {
  color: hsl(0,0%,77%);
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.sign-up {
  border: 1px solid hsla(0,0%,100%,0.2);
  border-radius: 9999px;
}

.sign-up:hover {
  color: #000;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

@media (min-width: 768px) {
  
  nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  nav a {
    float: right;
  }
  
  .home {
    float: left;
  }
  
  /* Clearfix */
  nav::after {
    content: "";
    clear: both;
    display: block;
  }
  
}

section {
  font-size: 1rem;
  font-family: "Space Mono", monospace;
}

@media (min-width: 768px) {
  
  section {
    width:60%;
    margin: 5.25rem auto 1.25rem;
  }
  
}

p {
  margin-bottom: 1.25rem;
  padding: 0.5rem;
}